.settings
*.cmd
*.o
*.dep
*.ko
*.mod.c
*.cache.mk
*.o.d
.tmp_versions
Module.symvers
modules.order
cxi-sbl.mod
modules.livepatch
drivers/net/ethernet/hpe/sbl/sbldrv.pc
include/linux/hpe/sbl/sbl_platform.h
staging_dir/
